Repository CognizantOpenSource/maqs-java, changes with the labels that .github/labeler.yml gives for each.
All labels: framework, base, appium, selenium, webservices, utilities, database, devops, accessibility, playwright, noSQL

added config revert to end of test
  maqs-utilities/src/test/java/com/cognizantsoftvision/maqs/utilities/logger/LoggingConfigUnitTest.java
Labels: utilities

updated test to get it to work
  maqs-utilities/src/test/java/com/cognizantsoftvision/maqs/utilities/logger/LoggerFactoryUnitTest.java
  maqs-utilities/src/test/java/com/cognizantsoftvision/maqs/utilities/logger/LoggingConfigUnitTest.java
Labels: utilities

attempt to get test to work
  maqs-utilities/src/test/java/com/cognizantsoftvision/maqs/utilities/logger/LoggingConfigUnitTest.java
Labels: utilities

update maqs revision version
  pom.xml
Labels: framework

update maqs revision version
  maqs-utilities/src/test/java/com/cognizantsoftvision/maqs/utilities/logger/LoggerFactoryUnitTest.java
Labels: utilities

troubleshooting unit tests
  maqs-utilities/src/test/java/com/cognizantsoftvision/maqs/utilities/logger/LoggingConfigUnitTest.java
Labels: utilities

changed test name added to test by single thread
  maqs-utilities/src/test/java/com/cognizantsoftvision/maqs/utilities/logger/LoggerFactoryUnitTest.java
  maqs-utilities/src/test/java/com/cognizantsoftvision/maqs/utilities/logger/LoggingConfigUnitTest.java
Labels: utilities

update unit test names
  maqs-utilities/src/test/java/com/cognizantsoftvision/maqs/utilities/logger/LoggingConfigUnitTest.java
Labels: utilities

update unit test names
  maqs-base/src/test/java/com/cognizantsoftvision/maqs/base/BaseTestUnitTest.java
Labels: base

single threaded base test unit tests
  maqs-base/src/test/java/com/cognizantsoftvision/maqs/base/BaseTestUnitTest.java
Labels: base

maven release pipeline
  .github/workflows/maven.yml
Labels: devops

maven release pipeline
  .github/workflows/maven.yml
Labels: devops

bad job name
  .github/workflows/maven.yml
Labels: devops

mongo version update Logger to take in ILogger
  .github/workflows/maven.yml
Labels: devops

Update maven.yml
  .github/workflows/maven.yml
Labels: devops

replace Magenic package reference
  pom.xml
Labels: framework

update publish setting
  .github/workflows/maven.yml
Labels: devops

update publish setting
  .github/workflows/maven.yml
Labels: devops

update playwright version
  maqs-playwright/pom.xml
Labels: playwright

Bug bounty test - PLEASE DO NOT APPROVE.. (begyfb)
  docker/MAQSEmail/initialize_and_start_dovecot.sh
  docker/MAQSSQLServer/initialize_and_start_sqlserver.sh
  maqs-accessibility/pom.xml
  maqs-appium/pom.xml
  maqs-base/pom.xml
  maqs-cucumber/pom.xml
  maqs-database/pom.xml
  maqs-jacoco-reporting/pom.xml
  maqs-playwright/pom.xml
  maqs-selenium/pom.xml
  maqs-utilities/pom.xml
  maqs-webservices/pom.xml
  pom.xml
Labels: framework, base, appium, selenium, webservices, utilities, database, accessibility, playwright

.github/labeler.yml:

framework:
  - ./*

base:
  - maqs-base/*
  - maqs-base/**/*

appium:
  - maqs-appium/*
  - maqs-appium/**/*

selenium:
  - maqs-selenium/*
  - maqs-selenium/**/*

webservices:
  - maqs-webservices/*
  - maqs-webservices/**/*

utilities:
  - maqs-utilities/*
  - maqs-utilities/**/*

database:
  - maqs-database/*
  - maqs-database/**/*

devops:
  - .dependabot/*
  - .github/*
  - .github/**/*
 
accessibility:
  - maqs-accessibility/*
  - maqs-accessibility/**/*

playwright:
  - maqs-playwright/*
  - maqs-playwright/**/*

noSQL:
  -maqs-nosql/*
  -maqs-nosql/**/*
