Repository CognizantOpenSource/maqs-java, pull requests merged in 2022-05, with the labels that each got.

#83 Stop publishing pretty report for Dependabot PRs
  .github/workflows/maven.yml
Labels: bug, devops

#65 Playright support Module
  .github/labeler.yml
  .github/workflows/maven.yml
  .gitignore
  maqs-appium/src/main/java/com/cognizantsoftvision/maqs/appium/AppiumTestObject.java
  maqs-cucumber/src/test/java/com/cognizantsoftvision/maqs/cucumber/unittestpagemodel/DummyBaseGenericStep.java
  maqs-playwright/config.xml
  maqs-playwright/pom.xml
  maqs-playwright/src/main/java/com/cognizantsoftvision/maqs/playwright/BasePlaywrightPageModel.java
  maqs-playwright/src/main/java/com/cognizantsoftvision/maqs/playwright/BasePlaywrightTest.java
  maqs-playwright/src/main/java/com/cognizantsoftvision/maqs/playwright/IPlaywrightTestObject.java
  maqs-playwright/src/main/java/com/cognizantsoftvision/maqs/playwright/PageDriver.java
  maqs-playwright/src/main/java/com/cognizantsoftvision/maqs/playwright/PageDriverFactory.java
  maqs-playwright/src/main/java/com/cognizantsoftvision/maqs/playwright/PlaywrightBrowser.java
  maqs-playwright/src/main/java/com/cognizantsoftvision/maqs/playwright/PlaywrightConfig.java
  maqs-playwright/src/main/java/com/cognizantsoftvision/maqs/playwright/PlaywrightDriverManager.java
  maqs-playwright/src/main/java/com/cognizantsoftvision/maqs/playwright/PlaywrightSyncElement.java
  maqs-playwright/src/main/java/com/cognizantsoftvision/maqs/playwright/PlaywrightTestObject.java
  maqs-playwright/src/test/java/com/cognizantsoftvision/maqs/playwright/PageDriverFactoryUnitTest.java
  maqs-playwright/src/test/java/com/cognizantsoftvision/maqs/playwright/PageDriverUnitTest.java
  maqs-playwright/src/test/java/com/cognizantsoftvision/maqs/playwright/PageObjectUnitTest.java
  maqs-playwright/src/test/java/com/cognizantsoftvision/maqs/playwright/PlaywrightConfigUnitTest.java
  maqs-playwright/src/test/java/com/cognizantsoftvision/maqs/playwright/PlaywrightDriverManagerUnitTest.java
  maqs-playwright/src/test/java/com/cognizantsoftvision/maqs/playwright/PlaywrightSyncElementUnitTest.java
  maqs-playwright/src/test/java/com/cognizantsoftvision/maqs/playwright/pageModel/AsyncPageModel.java
  maqs-playwright/src/test/java/com/cognizantsoftvision/maqs/playwright/pageModel/ElementPageModel.java
  maqs-playwright/src/test/java/com/cognizantsoftvision/maqs/playwright/pageModel/IFramePageModel.java
  maqs-playwright/src/test/java/com/cognizantsoftvision/maqs/playwright/pageModel/PageModel.java
  maqs-playwright/src/test/resources/renameHeaderFunction.js
  maqs-selenium/src/main/java/com/cognizantsoftvision/maqs/selenium/SeleniumTestObject.java
  maqs-selenium/src/test/java/com/cognizantsoftvision/maqs/selenium/ElementHandlerUnitTest.java
  maqs-utilities/config.xml
  maqs-utilities/src/main/java/com/cognizantsoftvision/maqs/utilities/helper/ConfigSection.java
  maqs-utilities/src/main/java/com/cognizantsoftvision/maqs/utilities/helper/TestCategories.java
  pom.xml
Labels: devops, selenium, appium, utilities, playwright

#84 Code smell clean up: Last Three Smells
  maqs-cucumber/src/main/java/com/cognizantsoftvision/maqs/cucumber/BaseCucumberTestNG.java
  maqs-selenium/src/test/java/com/cognizantsoftvision/maqs/selenium/LazyWebElementUnitTest.java
Labels: selenium

#86 Only do release draft on push
  .github/workflows/maven.yml
Labels: devops, breaking change

#87 Appium Formatting
  maqs-appium/src/main/java/com/cognizantsoftvision/maqs/appium/AppiumConfig.java
  maqs-appium/src/main/java/com/cognizantsoftvision/maqs/appium/AppiumDriverFactory.java
  maqs-appium/src/main/java/com/cognizantsoftvision/maqs/appium/AppiumTestObject.java
  maqs-appium/src/main/java/com/cognizantsoftvision/maqs/appium/AppiumUtilities.java
  maqs-appium/src/main/java/com/cognizantsoftvision/maqs/appium/BaseAppiumTest.java
  maqs-appium/src/main/java/com/cognizantsoftvision/maqs/appium/MobileDriverManager.java
  maqs-appium/src/main/java/com/cognizantsoftvision/maqs/appium/constants/PlatformType.java
  maqs-appium/src/main/java/com/cognizantsoftvision/maqs/appium/exceptions/AppiumConfigException.java
  maqs-appium/src/test/java/com/cognizantsoftvision/maqs/appium/AppiumConfigUnitTest.java
  maqs-appium/src/test/java/com/cognizantsoftvision/maqs/appium/AppiumDriverFactoryUnitTest.java
  maqs-appium/src/test/java/com/cognizantsoftvision/maqs/appium/AppiumTestObjectUnitTest.java
  maqs-appium/src/test/java/com/cognizantsoftvision/maqs/appium/AppiumUtilitiesUnitTest.java
  maqs-appium/src/test/java/com/cognizantsoftvision/maqs/appium/BaseAppiumTestUnitTest.java
  maqs-appium/src/test/java/com/cognizantsoftvision/maqs/appium/MobileDriverManagerUnitTest.java
Labels: appium
